body {
  font-family: "Open Sans";
  background: #eee;
  margin: 0;
}

.listaUI {
  position: fixed;
  overflow-y: scroll;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.cards {
  display: inline-block;
  width: 250px;
  margin: 10px;
  padding: 1em;
  background: #fff;

  border: 1px solid #b9b9b9;
  border-radius: 6px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.cardPedido {
  display: inline-block;
  width: 100%;
  padding: 3px;

  background: #fff;

  border: 1px solid #919191ad;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.preview {
  display: inline-block;
  width: 100%;
  min-height: 116px;
  padding: 3px;

  background: #fff;
  border: 1px solid #919191ad;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.items {
  background-color: #cee2df;
  margin: 10px;
  padding: 2px;
  border-radius: 3px;
  height: 40px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  cursor: pointer;
}

.btn {
  display: inline-block;
  border-radius: 3px;
  border: none;

  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;

  color: white;
  background-color: red;

  height: 45px;
  width: 50px;

  cursor: pointer;
}

.btnPedido {
  display: inline-block;
  border-radius: 3px;
  border: none;
  padding: 9px;
  margin: 15px;
  background-color: #ff9800;
  font-weight: bold;
  height: 45px;
  cursor: pointer;
}
.btnPedido:hover{
  background-color: #7d4c03;
  box-shadow: 5px 10px #000000;
}

.btnSolicitado {
  display: inline-block;
  border-radius: 3px;
  border: none;
  padding: 15px;
  margin: 15px;
  background-color: #3067dc;
  color: white;
  font-weight: bold;
  height: 45px;
  cursor: pointer;
}

.btnMesa {
  display: inline-block;
  border-radius: 3px;
  border: none;
  margin: 10px;
  background-color: #20ccff;
  font-weight: bold;
  font-size: 25px;
  height: 45px;
  width: 90px;
  cursor: pointer;
}

.btnMesa2 {
  display: inline-block;
  border-radius: 3px;
  border: 2px solid #d8d8d8;
  margin: 10px;
  background-color: #e2e2e2;
  font-weight: bold;
  font-size: 25px;
  height: 45px;
  width: 90px;
  cursor: pointer;
}

.btnAdicionarPedido {
  display: inline-block;
  border-radius: 3px;
  border: none;
  padding: 15px;
  margin: 15px;
  background-color: #537fc1;
  font-weight: bold;
  height: 45px;
  cursor: pointer;
  color: white;
}

.btnNovoPedido {
  display: inline-block;
  border-radius: 3px;
  border: none;
  padding: 15px;
  margin: 15px;
  background-color: #537fc1;
  font-weight: bold;
  height: 80px;
  width: 200px;
  cursor: pointer;
  color: white;
}

.btnCancelarPedido {
  display: inline-block;
  border-radius: 3px;
  border: none;
  padding: 15px;
  margin: 15px;
  background-color: #ff5959;
  font-weight: bold;
  height: 45px;
  cursor: pointer;
}

.subtitle-qtd {
  text-align: center;
}
div#pedidosUI {
  text-align: center;
  display: flex;
  flex-flow: column;
  max-width: 1300px;
}
.row-card {
  display: inline-flex;
  align-content: center;
  justify-content: center;
}
.title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  .row-card {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.row-card-nivel2 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.preview {
  display: table;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 116px;
  padding: 3px;
  background: #fff;
  border: 1px solid #919191ad;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
}
.btnSolicitado {
  display: inline-block;
  border-radius: 3px;
  border: none;
  padding: 9px;
  margin: 15px;
  background-color: #3067dc;
  color: white;
  font-weight: bold;
  height: 45px;
  cursor: pointer;
}
}
